$black-04: rgba(0, 0, 0, 0.04);
$black-87: rgba(0, 0, 0, 0.87);
$black-56: rgba(0, 0, 0, 0.56);
$black-38: rgba(0, 0, 0, 0.38);
$black-12: rgba(0, 0, 0, 0.12);
$white-100: #ffffff;
$white-87: rgba(255, 255, 255, 0.87);
$white-56: rgba(255, 255, 255, 0.56);
$primary-base: #112439;
$primary-base-alpha-dark: rgba(0, 22, 46, 0.92);
$primary-base-alpha-light: rgba(17, 36, 57, 0.56);
$primary-base-light: #ebeff5;
$primary-dark-2: #0ba192;
$primary-dark-1: #3bbaa5;
$primary: #54cfba;
$primary-light-1: #a3ebdf;
$primary-light-2: #e1f5f2;
$secondary-dark-2: #f36034;
$secondary-dark-1: #f97b3b;
$secondary: #ff915a;
$secondary-light-1: #ffc9ae;
$secondary-light-2: #fff2eb;
$alert-dark-2: #db1f1f;
$alert-dark-1: #ed2f2f;
$alert: #fa4b4b;
$alert-light-1: #ffbeb8;
$alert-light-2: #fff0f1;
