@import "colors";
@import "dimens";

.message-list {
  flex: 2;
}

.message-list__item {
  display: flex;
  margin-bottom: $spacing-m;
}

.message-list__item__delete-button {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 16px;
  background-color: $primary-base-light;
  color: $black-87;
}

.message-list__item__message-text {
  border-radius: 16px;
  line-height: 32px;
  display: inline-block;
  background-color: $primary;
  color: $white-100;
  flex: 2;
  margin-left: $spacing-s;
  padding-left: $spacing-m;
  padding-right: $spacing-m;
}
